body {
    padding: 3em;
    background-color: #bfbfbf;
}

form {
    display: block;
    width: 500px;
    margin-inline: auto;
    align-items: center;
    background-color: #fff;
    padding: 2em;
    border-radius: 0.5em;

    > div {
        width: fit-content;
        margin: 0 auto 1em;
        display: block;
        
        label {
            display: block;
            text-align: left;
        }

        input {
            display: block;
            padding: 0.5em 0.5em;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px solid #d4d4d4;
            background-color: #fff;
            outline: 0 !important;
            font-size: 1.25em;
            font-weight: lighter;

            &:hover,
            &:active {
                background-color: #fff;
            }
        }
    }

    .errors {
        background: #323232;
        border-radius: 0.25em;
        padding: 1em 2em;
        color: #fff;
        span{
            display: block;
            margin-bottom: 0.25em;
            font-size: 0.875em;
        }
    }

    button {
        width: 200px;
        padding: 1em;
    }
}
